Flask==3.1.0
Flask-SQLAlchemy==3.1.1
gitdb==4.0.12
GitPython==3.1.44
httpcore==1.0.7
httpx==0.28.0
Jinja2==3.1.4
numpy==2.0.2
pandas==2.2.3
requests==2.32.3
scikit-learn==1.2.2
scipy==1.14.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
gunicorn==20.1.0
tensorflow_intel==2.18.0
virtualenv==20.28.0
